@import url(https://fonts.bunny.net/css?family=jetbrains-mono:400,400i,500,500i,600,600i,700,700i,800,800i);

body {
    background: #2f3136;
    border-radius: 5px;
    font-family: "JetBrains Mono", monospace;
}

#top_banner {
    display: none;
}

#input:empty::before {
    content: "Send something to chat";
    color: white;
}

#settingsMenu {
    color: white;
}

#account {
    background: oklch(55.4% 0.046 257.417);
    color: white;
}

#input, #nameEntry {
    color: #111;
    background: oklch(55.4% 0.046 257.417);
    border: none;
    outline: none;
    border: solid 1px #AAA;
    box-sizing: border-box;
    border-radius: 3px;
}

#textInput {
    padding: 2px;
    background: oklch(58.5% 0.233 277.117) !important; /** taken from tailwindcss **/
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}
#main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#timestamp {
    background: #2f3136;
    color: oklch(74.6% 0.16 232.661);
    display: none;
}

.msgWrapper {
    background: #2f3136;
    border-bottom-radius: 5px;
    align-items: center !important;
    padding: 5px;
}
.msgWrapper:before {
    all: unset !important;
}
.allMessages {
    background: #2f3136;
    display: block;
    width: 100%;
    color: white;
    font-size: 10pt;
    padding-right: 60px; 
    border-radius: 2px;
    max-width: calc(100vw - 62px);
    border: outset 2px oklch(55.4% 0.046 257.417);
    position: relative;
    box-sizing: border-box;
}

.allMessages:after {
    content: attr(time);
    position: absolute;
    bottom: 4px;
    right: 6px;
    font-size: 7pt;
    color: oklch(74.6% 0.16 232.661);
}

.msgBody {
    line-height: 1.6;
    padding: 5px 5px 5px 0;
    border-radius: 5px;
    font-size: 0;
    word-spacing: 0;
    letter-spacing: 0;
}
.msgBody * {
    font-size: 10pt;
    word-spacing: normal;
    letter-spacing: normal;
}
.msgBody p {
    font-size: 0;
    margin: 0;
    padding: 0;
    display: inline;
}
.msgBody p * {
    font-size: 10pt;
}

.senderInfo {
    color: oklch(89.7% 0.196 126.665);
    font-weight: bold;
    position: relative;
}
.senderInfo .mod.badge, .senderInfo .owner.badge, .senderInfo .beta.badge {
    display: none;
}
.senderInfo:before {
    content: "<\00a0";
}
.senderInfo:after {
    content: "\00a0>";
    display: inline-block;
    height: 16px;
    width: fit-content;
}


.highlight {
    background: oklch(55.5% 0.163 48.998);
    animation: none !important;
    transition: none !important;
}


/** Messages you sent **/
.sent {
    /*border: outset 2px oklch(55.4% 0.046 257.417);*/
    border: outset 2px oklch(58.5% 0.233 277.117);
}
.sent::before {
    content: "You";;
    display: block;
    font-size: 8pt;
    color: oklch(74.6% 0.025 107.3);
    font-style: italic;
    padding: 2px 6px 0 6px;
    letter-spacing: 0.05em;
}

/** When you want to reply to someone **/
#replyBanner {
    background: oklch(55.4% 0.046 257.417);
    color: black;
}

/** Scroll to bottom type shit**/
#scrollToBottom {
    background: black !important;
    font-size: 0 !important;
}
#scrollToBottom::before {
    content: "Scroll to bottom" !important;
    font-size: 10pt;
}


/** Mod tag **/
.senderInfo:has(.mod) {
    color: oklch(59.6% 0.145 163.225);
}
.senderInfo:has(.mod)::before {
    content: "<\00a0";
    position: static;
    display: inline;
    background-image: none;
    width: auto;
    height: auto;
}
.senderInfo:has(.mod)::after {
    content: "\00a0>";
    display: inline-block;
    height: 16px;
    width: fit-content;
    margin-left: 4px;
    background-image: url("https://github.com/ReactorFailure/portfolio/blob/master/static/icons/chat-icons/badge/2767-moderatoricon.webp?raw=true");
    background-repeat: no-repeat;
    background-size: 14px 14px;
    background-position: left center;
    padding-left: 10px;
}
.allMessages:has(.mod)::before {
    content: "Moderator";
    display: block;
    font-size: 8pt;
    color: oklch(74.6% 0.025 107.3);
    font-style: italic;
    padding: 2px 6px 0 6px;
    letter-spacing: 0.05em;
    background-image: none;
}
.allMessages:has(.mod) {
    border: outset 2px oklch(59.6% 0.145 163.225);
}


/** Owner tag **/
.senderInfo:has(.owner) {
    color: oklch(74.6% 0.16 232.661);
}
.senderInfo:has(.owner)::before {
    content: "<\00a0";
    position: static;
    display: inline;
    background-image: none;
    width: auto;
    height: auto;
}
.senderInfo:has(.owner)::after {
    content: "\00a0>";
    display: inline-block;
    height: 16px;
    width: fit-content;
    margin-left: 4px;
    background-image: url("https://github.com/ReactorFailure/portfolio/blob/master/static/icons/chat-icons/badge/4323-blurple-verified-bot-developer.webp?raw=true");
    background-repeat: no-repeat;
    background-size: 14px 14px;
    background-position: left center;
    padding-left: 10px;
}
.allMessages:has(.owner)::before {
    content: "Site Owner";
    display: block;
    font-size: 8pt;
    color: oklch(74.6% 0.025 107.3);
    font-style: italic;
    padding: 2px 6px 0 6px;
    letter-spacing: 0.05em;
    background-image: none;
}
.allMessages:has(.owner) {
    border: outset 2px oklch(50% 0.134 242.749);
}


/** Priority **/

/** Whisper message **/
.allMessages.pm {
    background: oklch(20.8% 0.042 265.755);
    border: outset 2px oklch(60% 0.025 107.3);
    font-style: italic;
}
.allMessages.pm::before {
    content:"👻 Whisper message";
    display: block;
    font-size: 8pt;
    color: oklch(74.6% 0.025 107.3);
    font-style: italic;
    padding: 2px 6px 0 6px;
    letter-spacing: 0.05em;
}

/** Pinned message **/
.pinned {
    position: sticky;
    top: 0;
    z-index: 2;
    overflow: hidden;
    cursor: default;
}
.pinned .allMessages {
    border: 2px outset red;
}
.pinned .allMessages::before {
    content: "📌 Pinned message";;
    display: block;
    font-size: 8pt;
    color: oklch(74.6% 0.025 107.3);
    font-style: italic;
    padding: 2px 6px 0 6px;
    letter-spacing: 0.05em;
}
/** Copied this from Chattable Amdroid demo CSS**/
.pinned:before {
    all: unset !important;
}
.pinned > .allMessages {
    box-shadow: 0 0 3px #000;
    width: 100%;
    transition: opacity 250ms ease;
}
.pinned:hover > .allMessages {
    opacity: 0.25;
}
.pinned > .allMessages::after {
    display: none;
}
.pinned:after {
    display: none;
}

.senderInfo + pre {
    margin: 0;
    padding: 0;
    white-space: normal;
    word-break: break-word;
}

.senderInfo + pre p {
    margin: 0;
    padding: 0;
    display: inline;
}

.senderInfo + pre * {
    font-size: 10pt;
}

.emoji {
    width: 30px !important;
    height: 30px !important;
    vertical-align: middle;
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 0;
}

.senderInfo + pre blockquote {
    all: unset;
    display: block;
    color: #789922 !important;
    font-size: 10pt;
}

.senderInfo + pre a {
    color: oklch(74.6% 0.16 232.661) !important;
    text-decoration: underline;
    font-size: 10pt;
}

.senderInfo + pre a p:before {
    content: "\003E";
    margin-right: 3px;
    display: inline-block;
}

.senderInfo + pre blockquote p:before {
    content: "\003E";
    margin-right: 3px;
    display: inline-block;
}

.senderInfo + pre img:not(.emoji) {
    display: block;
    box-sizing: content-box;
    position: relative;
    margin-bottom: 16px;
    overflow: visible;
    overflow-clip-margin: unset;
}

.senderInfo + pre img:not(.emoji):after {
    content: attr(src);
    display: block;
    color: #555;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 100;
    text-align: center;
    min-width: 100%;
    font-size: 8pt;
}